@import "tailwindcss";

@theme {
    --color-invis: #c8c8c8;
    --color-hover: #787878;
    --font-serif: "Playfair Display", serif;
    --color-light: #fdd1a5;
    --color-main: #da2034;
}

* {
    transition: all 0.15s ease-in-out;
    font-family: "Inter", sans-serif;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular-Normal.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Italic-Normal.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}