---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro"
---

<Layout>
	<img id="background" src="/background.svg" alt="" fetchpriority="high" />
	<body class="min-h-screen flex flex-col">
		<header>
			<Header />
		</header>
		<div class="flex-1 flex flex-col sm:flex-row">
			<main class="flex-1">
				<Main/>
			</main>
			<div class="sm:w-32 order-first"></div>
			<div class="sm:w-32"></div>
		</div>
		<footer>
			<Footer>
		</footer>
	</body>
</Layout>

<style>
	#background{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
</style>