---
// In Vercel
let buildNumber = "UNKOWN";
let envBuildNumber = import.meta.env.VITE_VERCEL_GIT_COMMIT_SHA;
if(import.meta.env.PROD){
    buildNumber=envBuildNumber.slice(0, 8);
}
---

<div class="container">
    Build <a href={"https://github.com/udontur/school-linktree/tree/"+buildNumber}>{buildNumber}</a>
    made with passion by <a href="https://hadrian.cc">Hadrian</a>.
</div>

<style>
    .container{
        margin: 3rem 0 0.5rem 0;
        font-size: 0.5rem;
        color: rgb(200, 200, 200);
        transition: color 0.15s ease-in-out;
        cursor: default;
    }
    .container:hover{
        color: rgb(120, 120, 120);
        cursor: default;
    }
    a {
        color: inherit;
    }
</style>