---
---

<div class="container">
    Build <a href="https://github.com/udontur/school-linktree">1c9s20d</a>
    made with passion by <a href="https://hadrian.cc">Hadrian</a>.
    <!-- Made by Hadrian -->
</div>

<style>
    .container{
        margin: 3rem 0 0.5rem 0;
        font-size: 0.5rem;
        color: rgb(200, 200, 200);
        transition: color 0.15s ease-in-out;
        cursor: default;
    }
    .container:hover{
        color: rgb(120, 120, 120);
        cursor: default;
    }
    a {
        color: inherit;
    }
</style>