---
import LinkButton from "./LinkButton.astro";
import linkData from "../data/links.json";
---

<div id="container">
    {
        linkData.map((linkData)=>{
            return (
                <LinkButton
                    name={linkData.name},
                    link={linkData.link},
                    icon={linkData.icon}
                />
            );
        })
    }
    <!-- <LinkButton
        name="DSC ParentPortal",
        link="https://dsc.edu.hk/parent-portal",
        icon="portal.svg"
    />
    <LinkButton
        name="Edsembli Student/Parents",
        link="https://connect.edsembli.com/ON/Private/DSC/DSCS/Portal/viewer/login/login.aspx?LoginType=P",
        icon="marks.svg"
    />
    <LinkButton
        name="Morning Announcment Slides",
        link="https://docs.google.com/presentation/d/1lstP7QEBaUlfPPNGSZu7Tg4YLYOWx-4I6gm46dSzVx8/edit?usp=sharing",
        icon="slides.svg"
    />
    <LinkButton
        name="Morning Announcment PA",
        link="https://docs.google.com/document/d/1JPgEFRBeoy6O0K92ZlsYjjlwss87oc54syABdcbb9wk/edit?usp=sharing",
        icon="speak.svg"
    />
    <LinkButton
        name="Google Classroom Home",
        link="https://classroom.google.com/h",
        icon="home.svg"
    /> -->
</div>

<!-- CSS STYLE -->
<style>
    #container{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border: solid;
        gap: 0.5rem;
        width: auto;
    }
</style>
