---
import LinkButton from "./LinkButton.astro";
import linkData from "../data/links.json";
---

<div id="container">
    {
        linkData.map((linkData)=>{
            return (
                <LinkButton
                    name={linkData.name},
                    link={linkData.link},
                    icon={linkData.icon}
                />
            );
        })
    }
</div>

<!-- CSS STYLE -->
<style>
    #container{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border: solid;
        gap: 0.5rem;
        width: auto;
    }
</style>
