---
const { name, link, icon } = Astro.props;
---
<a href={link} class="links">
    <button class="buttons">
        <img src={'/icons/'+icon}, alt={icon}, class="svgs">
        <div class="titles">{name}</div>
    </button>
</a>

<!-- CSS STYLE -->
<style>
    .links{
        --light-red: rgb(253, 209, 165);
        --red: #DA2034;
        --red-second: #941320;
    }
    .svgs{

    }
    .titles{

    }
    .buttons{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, var(--light-red) 0, var(--red) 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
    }

    .buttons:focus {
        box-shadow: var(--red-second)  0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--red-second)  0 -3px 0 inset;
    }

    .buttons:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--red-second)  0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .buttons:active {
        box-shadow: var(--red-second) 0 3px 7px inset;
        transform: translateY(2px);
    }
</style>