---
import { Image } from 'astro:assets';
---
<div id="container">
    <!-- REM FIX -->
    <Image
        src="/images/dsc.svg",
        alt="dsc logo",
        width="96",
        height="96"
    />
    <div class="schoolName">
        <div class="nice">DSC</div> Linktree
    </div>
</div>

<!-- CSS STYLE -->
<style>
    #container{
        display: flex;
        /* border:solid; */
        align-items: center;
    }
    .logo{
        /* width: 6rem; */
        /* border:solid; */
    }
    .schoolName{
        line-height: 1.5rem;
        font-size: 2rem;
        /* display: flex; */
    }
    .nice{
        font-weight: 700;
        letter-spacing: -0.2rem !important;
    }
</style>