---
import { Image } from 'astro:assets';
---

<div class="flex items-center justify-center gap-4">
    <Image
        src="/images/dsc.svg",
        alt="dsc logo",
        width="128",
        height="128"
    />
    <div class="text-5xl leading-10">
        <div class="font-bold tracking-[-0.3rem]">DSC</div>
        <div class="flex font-normal font-serif"><div class="italic">Link</div>tree</div>
    </div>
</div>
