---
---
<div id="container">
    <img class="logo" src="/icons/dsc.svg" alt="dsc logo">
    <div class="schoolName">
        <div class="nice">DSC</div> Linktree
    </div>
</div>
<style>
    #container{
        display: flex;
        /* border:solid; */
        align-items: center;
    }
    .logo{
        width: 6rem;
        /* border:solid; */
    }
    .schoolName{
        line-height: 1.5rem;
        font-size: 2rem;
        /* display: flex; */
    }
    .nice{
        font-weight: 700;
        letter-spacing: -0.2rem !important;
    }
</style>