---
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A eye-candy linktree for DSC International School">
		<meta name="keywords" content="dsc, dsc linktree, linktree, nice linktree">
		<meta name="author" content="udontur">
		<title>DSC Linktree</title>
	</head>
	<slot />
</html>
