---
const { name, link, icon } = Astro.props;
import { Image } from "astro:assets";
---

<div class="flex justify-center items-center w-full">
    <a class="cursor-pointer w-full max-w-128" href={link}>
        <button class="
            rounded-xl
            border-none
            bg-linear-to-bl from-light to-main
            shadow-md shadow-neutral-500/50
            hover:shadow-lg
            flex justify-center items-center w-full
            pt-6 pb-6
            text-2xl
            gap-3
            text-white
            font-medium
            hover:-translate-y-0.5
            cursor-pointer
        ">
            <Image
                src={'/icons/'+icon},
                alt={name}
                width="36",
                height="36"
            />
            <div>{name}</div>
        </button>
    </a>
</div>
