---
import LinkButton from "./LinkButton.astro";
import linkData from "../../data/links.json";
---

<div class="text-lg flex flex-col items-center justify-between width-[20rem] gap-4 w-auto">
    {
        linkData.map((linkData)=>{
            return (
                <LinkButton
                    name={linkData.name},
                    link={linkData.link},
                    icon={linkData.icon}
                />
            );
        })
    }
</div>
